<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/category/add" method="POST">
    <label for="category-name">Category:</label>
    <input type="text" id="category-name" name="categoryName">
    <label for="category-description">Description:</label>
    <input type="text" id="category-description" name="categoryDescription">
    <button type="submit">Submit Category</button>
    </form>
</body>
</html>